.row {
    display: flex;
    justify-content: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    min-width: 100px;
    width: 100px;
    min-height: 100px;
    height: 100px;
    padding: 1px;
    font-size: 50pt;
}